
$color_gray: #445162;
$width_container: 1250px;
$padding_container: 50px;
$width_container_tel: 100vw;

::before ::after {
    content: '';
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(155, 153, 153);
}
ul, li {
    list-style-type: none;
    line-height: 2.5em;
    padding: 0;
    margin: 0;
}
ol {
    line-height: 2.5em;
    padding: 0;
    margin: 0;
}
p {
    line-height: 1.5em;
}
.container {
    max-width: $width_container;
    margin: 0 auto; //перестал корректно работать 
    padding: $padding_container;
}
.background {
    background-color: $color_gray;
    color: #fff;
}
h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
.header {
    text-align: center;
    padding-bottom: 1em;
    font-size: 30px;
    font-weight: 500;
    color: $color_gray;
}
.header_width {
    width: $width_container_tel;
}
figure {
    margin: 5px 0;
    display: flex;
    max-width: $width_container/2; //убрала вычетание паддингов, по началу все работало.. я снова в тупике
    align-items: center;
}
figcaption {
    padding-left: 15px;
}

.product {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    h1 {
        padding-bottom: 0.5em;
        font-size: 50px;
        max-width: $width_container/2;
        font-weight: 500;

    }
    .product__list {
        line-height: 20px;
        max-width: $width_container/2;
    }
    .product__list_item {
        font-size: 20px;
    }
    .product__list_item::before {
        content: "";
        background-image: url(../img/check_icon.png);
        display: inline-block;
        width: 25px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-right: 10px; 
        
    }
    .product__img { 
    }
}


.about {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .header {
        max-width: $width_container/2;
        text-align: start;
    }
    .about__text {
        max-width: $width_container/2;
    }
    .about__img {
    
    }
}


.dignity {
    background-color: #f5f5f5;
    .dignity__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;}
        margin-top: 2em;
    .dignity__list_item {
        display: flex;
        max-width: $width_container/2;
        flex-basis: 50%;
        margin-bottom: 10px;
        line-height: 1.2em;
    }
    .dignity__list_item::before {
        content: '+';
        display: inline-block;
        color: #fff;
        font-size: 50px;
        text-align: center;
        background-color: $color_gray;
        width: 30px;
        padding: 5px;
        padding-bottom: 4px;
        margin: auto 15px;
        vertical-align: middle;
        line-height: 30px;
    }
}


.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .screenshot {
    }
    .screenshots__header {
        font-size: 24px;
    }
    .screenshots__text {
    }
}


.reviews {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    section {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        max-width: $width_container/ 2; 

    }
    div {
        background: #ebebeb;
        border: 0px solid;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        margin-left: 30px;
    }
    div::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-right: 15px solid #ebebeb;
        position: absolute;
        top: 30px;
        left:-30px;
    }
    img {
        border: 0px solid;
        border-radius: 50%;
        margin-right: 30px; 
        box-sizing: border-box;
    }
}


.buy {
    .header_small_width {
        width: auto;
    }
    .buy_cards {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .buy_card {
            width: 1000px/3 - 40px;
            border: 1px solid $color_gray;
            border-radius: 2%;
            display: flex; 
            flex-direction: column;
            padding-bottom: 20px;
            
            .buy_card__header {
                font-size: 24px;
                padding: 20px;
                text-align: center;
            }
            .dollar {
                background-color: #fff;
                display: block;
                justify-content: center;
                padding: 5px;
                color: $color_gray;
                align-self: center;
                text-align: center;
                font-size: 30px;
                width: 100%;
            }
            .buy_card__list {
                margin: 20px;
            }
            .buy__item {
                font-size: 14px;
                line-height: 1.7em;
            }
            button {
                padding: 2% 5%;
                border: 0px solid;
                border-radius: 10%;
                text-transform: uppercase;
                padding: 5% 40%;
                align-self: center;
                background: #fff;
                font-weight: 700;
            }
            
        }
    }
}


.footer {
    margin-top: 100px;
    .footer_colomns {
    display: flex;
    justify-content: center;
    }
    .footer__header {
        color: #fff;
    }
    .footer__form {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        align-items: center;
    }
    .input {
        display: inline-block;
        border: 0px solid;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
        font-family: sans-serif;
        min-width: 500px; 
    }
    textarea {
        max-width: 500px;
        min-height: 40px;
    }
    .footer__form_button {
        text-transform: uppercase;
        color: $color_gray;
        padding: 10px 50px;
        border: 0px solid;
        border-radius: 5px;
    }
    .footer__list li::before {
            content: "@@"; // когда оставляю содержание пустым, то фон не отображается (все иконки скачала, установлю индивидуальные иконки к следующему уроку)
            background-image: url(../img/skype_icon.png);
            display: inline-block;
            width: 30px;
            // margin: auto 15px;
            vertical-align: middle;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-right: 15px;
    }
    a {
        letter-spacing: 1.5px; 
        color: #fff;
    }
    .footer__messenge {
        margin-top: 30px;
    }

}


.copyrit {
    text-align: center;
    color: $color_gray;
}





@media (max-width: 425px) {
    figure,  .product, .about, .dignity, .screenshots, .reviews section, .buy .buy_cards, article.buy_card, .footer .footer_colomns, .footer__form, img {
    display: block; // пыталась отменить влияние флекс боксов для телефонной версии
    }
    img {
        max-width: 320px - 20px;
    }
    a, .icon {
        display: inline;
    }
    $width_container: 100vw;
    .container {
        padding: 10px;
    }
    .footer .input {
        min-width: 90vw;
    }
}

