* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #9b9999;
}

ul, li {
  list-style-type: none;
  line-height: 2.5em;
  padding: 0;
  margin: 0;
}

ol {
  line-height: 2.5em;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5em;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px;
}

.background {
  background-color: #445162;
  color: #fff;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  padding-bottom: 1em;
  font-size: 30px;
  font-weight: 500;
  color: #445162;
}

.header_width {
  width: 1250px;
}

figure {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 495px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption {
  padding-left: 15px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product h1 {
  padding-bottom: 0.5em;
  font-size: 50px;
  max-width: 625px;
  font-weight: 500;
}

.product .product__list {
  line-height: 20px;
  max-width: 625px;
}

.product .product__list_item {
  font-size: 20px;
}

.product .product__list_item::before {
  content: '\2714 \00A0 \00A0';
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .header {
  max-width: 625px;
  text-align: start;
}

.about .about__text {
  max-width: 625px;
}

.dignity {
  background-color: #f5f5f5;
  margin-top: 2em;
}

.dignity .dignity__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dignity .dignity__list_item {
  max-width: 625px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 0 1em 0;
  line-height: 1.2em;
}

.screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screenshots .screenshots__header {
  font-size: 24px;
}

.reviews {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.reviews .reviews__text {
  max-width: 400px;
}

.reviews img {
  border: 0px solid;
  border-radius: 50%;
  margin-right: 30px;
}

.buy .header_small_width {
  width: auto;
}

.buy .buy_cards {
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy .buy_cards .buy_card {
  width: 293.33333px;
  border: 1px solid #445162;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.buy .buy_cards .buy_card .buy_card__header {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.buy .buy_cards .buy_card .dollar {
  background-color: #fff;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  color: #445162;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.buy .buy_cards .buy_card .buy_card__list {
  margin: 20px;
}

.buy .buy_cards .buy_card .buy__item {
  font-size: 14px;
  line-height: 1.7em;
}

.buy .buy_cards .buy_card button {
  padding: 2% 5%;
  border: 0px solid;
  border-radius: 10%;
  text-transform: uppercase;
  padding: 5% 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff;
}

.footer {
  margin-top: 100px;
}

.footer .footer_colomns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__header {
  color: #fff;
}

.footer .footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

.footer .input {
  display: inline-block;
  border: 0px solid;
  border-radius: 3%;
  margin-bottom: 20px;
  padding: 10px;
  font-family: sans-serif;
  min-width: 500px;
}

.footer .footer__form_button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #445162;
}

.footer a {
  letter-spacing: 1.5px;
  color: #fff;
}

.copyrit {
  text-align: center;
  color: #445162;
}

@media (max-width: 425px) {
  * {
    display: block;
  }
  a {
    display: inline;
  }
  .container {
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */